*{
    margin: 0;
    padding: 0;
}
.carousel-container{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;

}
.carousel-image-wrapper{
    position: absolute;
    width: 1600px;
}
img{
    width: 400px;
    height: 400px;
    float: left;
}
button{
    font-size: 30px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background-color:rgb(66, 65, 65) ;
}
.btn{
    padding: 10px;
    position: fixed;
}
.btn:hover{
    background: transparent;
}
.left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 363px;
}
.indicator-dot{
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50px;
}
.indicator-dot:hover{
    background-color: black;
}
.indicator{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
}
.active{
    display: inline-block;
    background-color:black;
}