*{
    margin: 0;
    padding: 0;
    
}
.container{
    margin: 0 auto;
}
#canvas{
    /* margin:0 auto; */
    width: 800px;
    height: 480px;
    border: 2px solid black;
    display: none;
}
.instruction{
    display: block;
    background-color: brown;
    width: 800px;
    height: 480px;
}